.genesis-nav-menu {
  clear: both;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  width: 100%;
}

.genesis-nav-menu .menu-item {
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: left;
}

.genesis-nav-menu a {
  color: #1b154b;
  text-decoration: none;
  display: block;
  padding: 32px 20px;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus  {
  color: #c3251d;
  text-decoration: underline;
}

.genesis-nav-menu .sub-menu {
  border-top: 1px solid #eee;
  left: -9999px;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition:    opacity .4s ease-in-out;
  -ms-transition:     opacity .4s ease-in-out;
  -o-transition:      opacity .4s ease-in-out;
  transition:         opacity .4s ease-in-out;
  width: 200px;
  z-index: 99;
}

.genesis-nav-menu .sub-menu a {
  background-color: #fff;
  border: 1px solid #eee;
  border-top: 0;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 20px;
  position: relative;
  width: 200px;
  word-wrap: break-word;
}

.genesis-nav-menu .sub-menu .sub-menu {
  margin: -56px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
  position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1;
}

.genesis-nav-menu > .first > a {
  padding-left: 0;
}

.genesis-nav-menu > .last > a {
  padding-right: 0;
}

.genesis-nav-menu > .right {
  float: right;
}

/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
  position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
  left: auto;
  opacity: 1;
}

.sub-menu-toggle,
.menu-toggle {
  display: none;
  visibility: hidden;
}

/* ## Site Header Navigation
--------------------------------------------- */

.site-header .genesis-nav-menu li li {
  margin-left: 0;
}

/* ## After Header Navigation
--------------------------------------------- */

.nav-primary {
  background-color: #fff;
  border-top: 1px solid #eee;
}

#ubermenu-main-2-primary {
  z-index: 101;
}

.tees {
    background-color: #1b154b;
    border: 2px solid #91ae3d;
    color: #fff;
    font-family: 'Lora', serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding: 8px 6px 6px 6px;
    position: relative;
    text-align: center;
    width: 66px;
    z-index: 101;
}

.tees a {
  border: none;
  color: #fff;
  text-decoration: none;
}

.bigT {
  font-size: 25px;
}

.medT {
  font-size: 19px;
}

.lilT {
  font-size: 14px;
}

a.bigT:hover, a.medT:hover, a.lilT:hover {
  color: #91ae3d;
}

a.selected {
  color: #91ae3d;
}

/* ## Sidebar Navigation
--------------------------------------------- */

.widget_nav_menu {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}

.widget_nav_menu a {
      display: inline-block;
      margin-bottom: 10px;
      padding-bottom: 2px;
}

.side-menu-parent > a:first-child {
    font-family: 'Lora', serif;
    font-size: 22px;
    font-size: 2.2rem;
    border: none;
}

.side-menu-parent > a:first-child:hover {
  color: #8dbbc9;
}

.widget_nav_menu ul > li,
.widget_nav_menu ul > li:last-of-type,
.widget_nav_menu ul > li li {
    margin: 0;
    padding-bottom: 0;
}

/* ## Footer Navigation
--------------------------------------------- */

.site-footer .genesis-nav-menu {
  padding-bottom: 20px;
}

.site-footer .genesis-nav-menu a {
  padding: 0 20px 10px;
}

#genesis-footer-widgets .widget_nav_menu {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
}

.footer-menu-parent > a:first-child {
    font-family: 'Lora', serif;
    font-size: 22px;
    font-size: 2.2rem;
    font-weight: 700;
    border: none;
}

#genesis-footer-widgets a:hover {
  color: #8dbbc9;
}
