/* - Media Queries
  - Max-width: 1340px
  - Max-width: 1200px
  - Max-width: 1023px
  - Max-width: 860px
*/

/* # Media Queries
---------------------------------------------------------------------------------------------------- */

/* SITE HEADER section */

@media only screen and (max-width: 1300px) {
  .home .site-header,
  .home-header-ghost {
    height: 250px;
  }

  .site-header,
  .page-header-ghost {
    height: 164px;
  }

  .header-logo img {
      max-height: 144px;
  }
}

@media only screen and (max-width: 1100px) {
  .home .site-header,
  .home-header-ghost {
    height: 212px;
  }

  .site-header,
  .page-header-ghost {
    height: 138px;
  }

  .header-logo img {
      max-height: 118px;
  }
}

@media only screen and (max-width: 860px) {
  .home .site-header,
  .home-header-ghost {
    height: 174px;
  }

  .site-header,
  .page-header-ghost {
    height: 114px;
  }
}

/* */

@media only screen and (max-width: 1340px) {

  .site-inner {
    margin: 20px auto;
    max-width: 1140px;
  }

  .header-logo {
    max-width: 1140px;
  }

  .breadcrumb,
  .breadcrumb-replace {
    max-width: 1140px;
  }

  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 920px;
  }

  .content {
    width: 70%;
  }

  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content,
  .content-sidebar-sidebar .content {
    width: 580px;
  }

  .sidebar-primary {
    width: 300px;
  }


}


@media only screen and (max-width: 1200px) {

  .site-inner,
  .wrap,
  .header-logo {
    max-width: 960px;
  }

  .breadcrumb,
  .breadcrumb-replace {
    max-width: 960px;
  }

  .site-title {
    font-size: 48px;
    font-size: 4.8rem;
  }

  #ubermenu-main-2-primary a {
      font-size: 14px;
      padding: 15px 24px 15px 4px;
  }

  .tees {
      margin: 0;
      padding: 6px 4px 4px 4px;
      width: 56px;
      /*z-index: 100;*/
  }

  #ubermenu-main-2-primary .tees a {
      padding: 0;
  }

  #ubermenu-main-2-primary .tees a.bigT {
    font-size: 19px;
  }

  #ubermenu-main-2-primary .tees a.medT {
    font-size: 14px;
  }

  #ubermenu-main-2-primary .tees a.lilT {
    font-size: 11px;
  }

  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 740px;
  }

  .content {
    width: 620px;
  }

  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content,
  .content-sidebar-sidebar .content {
    width: 400px;
  }

  img.size-full {
    max-width: 300px;
  }

  .members-box {
    max-width: 300px;
  }


}

@media only screen and (max-width: 1023px) {

  .site-inner,
  .wrap,
  .header-logo {
    max-width: 800px;
  }

  .breadcrumb,
  .breadcrumb-replace {
    max-width: 800px;
  }

  .content,
  .content-sidebar-sidebar .content,
  .content-sidebar-sidebar .content-sidebar-wrap,
  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3,
  .js .genesis-nav-menu .sub-menu a,
  .js .genesis-nav-menu .sub-menu,
  .sidebar-content-sidebar .content,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-primary,
  .sidebar-secondary,
  .sidebar-sidebar-content .content,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 100%;
  }

  .sidebar-content .sidebar-primary {
    clear: both;
    float: none;
    margin: 0 auto 40px;
    /*padding-top: 40px;*/
  }

  .sidebar-primary #text-2 {
    padding-bottom: 0;
  }

  .site-header .wrap {
/*    padding-left: 5%;
    padding-right: 5%;
*/  }

  .site-title {
    font-size: 36px;
    font-size: 3.6rem;
  }

  .site-header-border {
    margin-top:0;
  }

  .breadcrumb {
    margin-top: 73px;
  }

  .title-area {
    width: 100%;
  }

  .site-header .widget-area {
    width: 300px;
    right: 40px;
  }

  .site-header .search-form {
    margin: 16px auto;
  }

  .nav-primary {
    position: relative;
  }

  .search-form input {
    padding: 6px 12px 6px 32px;
    height: 40px;
  }

  .search-form:before {
      left: 6px;
      top: 18px;
  }

  #genesis-footer-widgets .footer-widgets-1 {
    border-right: none;
    padding-right: 0;
    width: 100%;
    margin-bottom: 28px;
  }

  #genesis-footer-widgets .footer-widgets-1 p {
    margin-bottom: 14px;
  }

  #genesis-footer-widgets .footer-widgets-2,
  #genesis-footer-widgets .footer-widgets-3,
  #genesis-footer-widgets .footer-widgets-4 {
    width: 30%;
  }

}

@media only screen and (max-width: 860px) {

  body > div {
    font-size: 1.8rem;
  }

  body {
    font-size: 18px;
    font-size: 1.8rem;
  }

  .site-inner {
    padding: 0 5% 0;
  }

  .header-logo {
      position: absolute;
      max-width: 80%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
  }

  .header-logo img {
      /*margin: 0 auto;*/
      max-height: 94px;
  }

  .home .header-logo img {
      /*max-height: 154px;*/
  }

  .breadcrumb,
  .breadcrumb-replace {
    padding: 0 5%;
    max-width: 1140px;
  }

  .wrap {
    padding-left: 5%;
    padding-right: 5%;
  }

  .site-header > .wrap {
    padding: 0;
    max-width: none;
  }

  /* Home Page */
  .title-area {
      left: 0;
      padding: 10px 40px;
      position: absolute;
      text-align: center;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 100%;
      z-index: 99;
  }

  .search-form input {
    padding: 6px 12px 6px 32px;
    height: 30px;
    margin: 0;
  }

  .search-form:before {
    left: 6px;
    top: 12px;
  }

  .site-header .widget-area {
    background: #2A6284;
    bottom: -145px;
    margin: 0 auto;
    padding: 0 5%;
    position: relative;
    right: 0;
    width: 100%;
    float: none;
  }

  .home .site-header .widget-area {
    bottom: -202px;
  }

  section#search-3 {
    margin: 0 auto;
    max-width: 340px;
  }

  .upcoming-events {
      margin-top: 20px;
  }

  /* end Home Page */

  .after-entry,
  .archive-description,
  .author-box,
  .comment-respond,
  .entry-comments,
  .entry-pings,
  .sidebar .widget {
    padding: 30px;
    margin-bottom: 5%;
  }

  .entry, #text-2 {
    padding: 30px 0 0 0;
  }

  .footer-widgets .wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .sidebar {
    margin-bottom: 5%;
  }

  #tribe-events-adv-list-widget-2 .type-tribe_events,
  #tribe-events-adv-list-widget-2 .type-tribe_events:last-of-type {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    float: none;
  }

  .pagination {
    margin: 5% auto;
  }

  .archive-pagination li a {
    margin-bottom: 4px;
  }

  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    margin: 0;
    width: 100%;
  }

  #genesis-footer-widgets .footer-widgets-1,
  #genesis-footer-widgets .footer-widgets-2,
  #genesis-footer-widgets .footer-widgets-3,
  #genesis-footer-widgets .footer-widgets-4 {
    width: 100%;
    margin-bottom: 28px;
    margin-right: 0;
  }


}

@media only screen and (max-width: 700px) {

    h2 {
       font-size: 24px;
       font-size: 2.4rem;
    }

    h3 {
       font-size:20px;
       font-size:2rem;
    }

    .page-id-7 h3 {
       font-family: 'Lora', serif;
       font-size: 22px !important;
       font-size:2.2rem !important;
    }

    .entry-title {
       font-size: 28px;
       font-size: 2.8rem;
    }

    img.size-full {
      max-width: 250px;
    }

    .members-box {
        font-size: 14px;
        font-size: 1.4rem;
        float: none;
        margin: 6px 0 40px 0;
        max-width: none;
        padding: 20px;
        width: 100%;
    }

    .members-box h4 {
        font-size: 23px;
        font-size: 2.3rem;
    }

    .frontpage-news-item {
    	width:100%;
    	clear:both;
    	padding:0px;
    }

    .tribe-events-event-image img {
        clear:both !important;
        max-width: 100% !important;
        padding: 0px;
    }

    @media only screen and (max-width: 540px) {
      img.size-full {
        float: none;
        margin: 0 auto 24px auto;
        max-width: 250px;
      }

    }

}


